
/* font-family: 'Lato'; */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


html {
	min-width: 320px;
}
body {
	background-color: #fff;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.centered {
	text-align: center;
}

/* header */
.navbar-brand {
	font-family: "BEYNO", sans-serif;
	font-size: 30px;
}
.logotext_2 {
	float: right;
	color: #009dda;
}
.logotext_1 {
	float: left;
	color: #503392;
}
.navbar-default {
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a {
	color: #232323;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: rgba(255, 255, 255, 0)
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none;
	background-color: #fff;
	-webkit-box-shadow: none;
	color: #232323;
	box-shadow: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-left: -1.35px;
}
.form-control {
	border-radius: 0px;
	border:none;
	background-color: #e8e4f1;
	padding-right: 40px;
}
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.glyphicon-search {
	margin-left: -30px;
}
.dp-style>.dropdown-menu {
  display: none;
}
.dp-style:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.35);
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-top: 2px solid #fff200;
	border-radius: 0px;
	width: 182px;
}
.navbar-nav>li>.dropdown-menu {
	margin-right: -90px;
}
.navbar-nav>li>.dropdown-menu>li>.dropdown-menu {
	margin-right: -182px;
	margin-top: -25px;
}
.dropdown-menu>li>a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #e9e8ea;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-image: none;
	color: #ebde0a;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* baner, slider */
.baner {
	margin-top: 50px;
	width: 100%;
}
.baner > .container {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}	
.fotorama__nav-wrap {
	margin-top: -70px;
}


/* why_choose_us */
#why_choose_us {
	padding-top: 100px;
	padding-bottom: 25px;
}
#why_choose_us h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #232323;
}
#why_choose_us h4 span {
	color: #009dda;
}
#why_choose_us p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.choose_us_inf_block {
	border: 1px solid #ebebeb;
	margin-top: 70px;
	margin-right: 17px;
	margin-left: 17px;
	padding-top: 35px;
	padding-bottom: 30px;
}
.fa-heart-o:before, .fa-commenting-o:before, .fa-laptop:before, .fa-star-o:before, .fa-flag-o:before {
	font-size: 60px;
	color: #503392;
	padding-bottom: 30px;
}
.fa-heart-o, .fa-commenting-o, .fa-laptop, .fa-star-o, .fa-flag-o {
	margin-bottom: 30px;
}
.choose_us_inf_block h6 {
	font-family: 'Lato-Heavy', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #232323;
	margin-bottom: 25px;
	padding-top: 10px;
}
.choose_us_inf_block p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #b4b4b4;
}
.choose_us_inf_block_hover {
	display: none;
	background-color: #503392;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -7px;
}
.choose_us_inf_block:hover .choose_us_inf_block_hover {
	display: block;
}
.choose_us_inf_block:hover .choose_us_inf_block_no_hover {
	display: none;
}
.choose_us_inf_block_hover_icon {
	margin-bottom: -30px;
	padding-bottom: 40px;
}
.choose_us_inf_block_hover h6 {
	padding-top: 25px;
	color: #fff;
}
.fa-link:before, .fa-search-plus:before {
	position: absolute;
	margin-left: -34px;
	margin-top: 1px;
}
.fa-link:before {
	color: #fff;
}
.fa-search-plus:before {
	color: #503392;
}
.fa-circle-thin:before, .fa-circle:before {
	color: #fff;
	font-size: 45px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
}



/* about_us */
#about_us {
	padding-top: 80px;
}
.about_us_img {
	margin-top: 100px;
	max-sixe: 100%;
}
#about_us h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 35px;
	text-transform: uppercase;
	color: #232323;
	font-size: 45px;
}
#about_us h4 span {
	color: #009dda;
}
.about_us_discription {
	padding-left: 30px;
}
.about_us_p1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #999;
	padding-top: 20px;
}
.about_us_p2 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #373737;
	padding-top: 40px;
	padding-bottom: 50px;
}
.about_us_progress p {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #444;
	margin-left: -15px;
	margin-bottom: 0px;
}
.progress {
	border-radius: 0;
	margin-top: -5px;
	margin-bottom: 35px;
	padding-left: 2px;
	padding-right: 2px;
	height: 9px;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ddd;
}
@media (max-width: 1199px){
	.progress {
		margin-top: 30px;
	}	
}
@media (max-width: 767px){
	.progress {
		margin-top: -5px;
	}	
}
.progress-bar-info {
	margin-top: 2px;
	margin-bottom: 2px;
	height: 3px;
}



/* Contact */
#googl_map_fon {
	background: url(../img/map.jpg) no-repeat center top;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contact {
	padding-top: 90px;
	padding-bottom: 25px;
}
#contact h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #232323;
	font-size: 45px;
}
#contact h4 span {
	color: #009dda;
}
#contact p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #999;
}
.contact_discription {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #f3f3f3;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
}
@media (max-width: 1199px) {
	.contact_discription {
		margin-top: 30px;
		text-align: center;
	}
}
.contact_form {
	background-color: rgba(26, 26, 26, 0.47);
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#fullName, #emailAddress, #message {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #9a9999;
	color: #9b9b9b;
	margin-top: 0;
	margin-bottom: 0;
}
#message {
	margin-right: 15px;
	margin-top: 2px;
	width: 100%;
	height: 100px;
}
.form-group .col-lg-offset-1 {
	margin-left: 15px;
	padding-right: 15px;
}
.form_send {
	max-width: 543px;
}
.checkbox {
	margin-top: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
	color: #9b9b9b;
	margin-top: 0;
	margin-bottom: 0;
}
#input_checkbox {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
}
#form_send_btn {
	margin-top: -10px;
	border-radius: 0;
	background: #ffff00;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #373737;
}



/* footer */
footer {
	background: #191919;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-top: 10px;
}
.copyright {
	align: left;
	color: #666666;
}
.brand_icons > .nav > a > .fa {
	margin-left: 17px;
}
.fa-facebook {
	color: #6783b9;
}
.fa-google-plus {
	color: #ea6d54;
}
.fa-twitter {
	color: #71d6fa;
}
.fa-dribbble {
	color: #e9779d;
}
